/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font-family: 'Roboto', sans-serif;
}

.block {
  display: block;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.wrapper {
  position: relative;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row--between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1000;
  pointer-events: none;
}

.card {
  pointer-events: all;
  width: 380px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 24px;
  background: #141414;
}

.card__buttons {
  margin: 16px 0 40px;
}

.card__buscador {
  display: none;
}

.label {
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 4.91px;
  color: #fff;
}

.label--header {
  margin-bottom: 16px;
}

.label--color {
  color: #a7c9c7;
}

.label--bigger {
  font-size: 32px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.label--after {
  position: relative;
}

.label--after::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -16px;
  width: 27px;
  height: 1px;
  background: #fff;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 39px;
  border-radius: 1px;
  border: 0;
  font-weight: 900;
  font-size: 15px;
  color: #000;
  background: rgba(167, 201, 199, 0.2);
  cursor: pointer;
}

.btn--active {
  background: #a7c9c7;
}

.btn:focus {
  outline: none;
}

.chart {
  width: 100%;
  height: 240px;
  margin: 16px 0 32px;
}

.map {
  width: 100%;
  height: 650px;
}

.map .leaflet-overlay-pane svg path {
  pointer-events: auto;
}

.map .active {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 910px;
  }
}

@media screen and (max-width: 993px) {
  .container {
    width: 600px;
  }
}

@media screen and (max-width: 767px) {
  .container, .card {
    width: 100%;
  }
  #map {
    display: none;
  }
  .card__buscador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 40px;
  }
  .card__buscador input {
    font-family: 'Roboto';
    font-size: 14px;
    background-color: lightgrey;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
  }
}
/*# sourceMappingURL=style.css.map */