@import "reset";

body {font-family: 'Roboto', sans-serif;}

.block {display: block;}
.text-uppercase {text-transform: uppercase}
.text-right {text-align: right}

.wrapper {position: relative;}
.row {
    display: flex;
    &--between {justify-content: space-between;}
}

.container {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 940px;
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    pointer-events: none;
}

.card {
    pointer-events: all;
    width: 380px;
    box-sizing: border-box;
    padding: 16px 24px;
    background: #141414;
    &__buttons {margin: 16px 0 40px;}
    &__buscador {display: none;}
}

.label {
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 4.91px;
    color: #fff;
    &--header {margin-bottom: 16px;}
    &--color {color: #a7c9c7}
    &--bigger {font-size: 32px; flex-shrink: 0;}
    &--after {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -16px;
            width: 27px;
            height: 1px;
            background: #fff;
        }
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 39px;
    border-radius: 1px;
    border: 0;
    font-weight: 900;
    font-size: 15px;
    color: #000;
    background: rgba(#a7c9c7,.2);
    cursor: pointer;
    &--active {background: rgba(#a7c9c7,1)}
    &:focus {outline: none}
}

.chart {
    width: 100%;
    height: 240px;
    margin: 16px 0 32px;
}

.map {
    width: 100%;
    height: 650px;

    .leaflet-overlay-pane svg path{
        pointer-events: auto;
    }
    .active {
        cursor: pointer;
    }
}

@media screen and (max-width: 1200px) {
  .container {width: 910px;}
}

@media screen and (max-width: 993px) {
  .container {width: 600px;}
}

@media screen and (max-width: 767px) {
    .container, .card {width: 100%;}
    #map { display: none; }
    .card {
        &__buscador {
            display: flex;
            width: 100%;
            margin-bottom: 40px;
            input {
                font-family: 'Roboto';
                font-size: 14px;
                background-color: lightgrey;
                width: 70%;
                margin: 0 auto;
                padding: 10px;
            }
        }
    }
}